<div class="chat_container">
    <div class="is-flex is-flex-direction-column message-list">
        <div class="profile">
            <div class="name2">Admin</div>
        </div>
        <ul class="people">
            <li class="person">
                <span class="chat_title">Voldemort </span>
                <span class="time">2:50pm</span><br>
                <span class="preview">What are you getting... Oh, oops...</span>
            </li>
            <li class="person">
                <span class="chat_title">Ron</span>
                <span class="time">2:25pm</span><br>
                <span class="preview">Meet me at Hogsmeade and bring...</span>
            </li>
            <li class="person">
                <span class="chat_title">Hermione</span>
                <span class="time">2:12pm</span><br>
                <span class="preview">Have you and Ron done your hom...</span>
            </li>
        </ul>
    </div>
    {% include 'chat/chatbox.html' %}
</div>
