<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bulma/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<style>
    .not_active {
        visibility: hidden;
        cursor: unset;
        pointer-events: none;
    }
</style>
<nav class="navbar is-white">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item brand-text" href="{% url 'TicketingApp:index' %}">
                Ticketer
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'TicketingApp:index' %}">
                    Home
                </a>
                <a class="navbar-item" href="{% url 'TicketingApp:view' %}">
                    Tickets
                </a>
            </div>
        </div>
    </div>
</nav>
{% block content %}

{% endblock %}
<div class="chat">
    <style>
        .chat-button {
            opacity: 0.3;
        }

        .chat-button:hover {
            opacity: 1;
        }
    </style>
    <div class="chat-button">
        <button class="button is-primary">Chat</button>
    </div>
    {% include 'chat/index.html' %}
</div>
<script>
    const chatButton = document.querySelector('.chat-button');

    chatButton.addEventListener('click', function () {
        try {
            const chat_container = document.querySelector('.chat_container');
            let close_chat = document.querySelector('.close-chat');

            chat_container.classList.toggle('not_active');
            chatButton.classList.toggle('not_active');
            close_chat.classList.toggle('not_active');
        } catch (e) {
            console.log(e);
        }
    });

    // connect to notification and chat channel and listen for notifications and messages
    let user_id = '';
    // get user id from session or from user object if user is authenticated
    {% if user.is_authenticated %}
        user_id = '{{ user.id }}';
    {% else %}
        user_id = '{{ request.session.user_id }}';
    {% endif %}

    if (user_id !== '') {
        const socket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/notifications/' + user_id + '/');

        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            let is_notification = data['is_notification'];

            if (is_notification) {
                const notification = data['notification'];
                console.log(notification);
            } else {
                const message = data['message'];
                console.log(message);
            }
        };
    } else {
        console.log('Error getting or generating user id');
        console.log('User id: ' + user_id);
    }
</script>
</body>
</html>